<%- include("partials/header")  %>

<h1>Home</h1>
<p><%= home %></p>

<div>
    <% postsArray.forEach(function (post) { %>
    <h3><a href="/posts/<%=post.title%>"><%=post.title%></h3></a></h3>
    <% console.log(post.bodyContent.length) %>
    <% if (post.bodyContent.length < 100) { %>
        <p><%=post.bodyContent%></p>
    <% } else {  %>
    <p><%=(post.bodyContent).slice(0,99).concat(" ...")%></p>
    <%  } %>
    <% })%>
</div>



<%- include("partials/footer") %>