<%- include("partials/header")  %>

<h1>Home</h1>
<p><%= home %></p>

<div>
    <% postsArray.forEach(function (post) { %>
         <h3><%=post.title%></h3>
        <% if (post.body.length < 100) { %>
            <p class="readMore"><%=post.body.concat(" ... ")%></p><a href="/posts/<%=post.title%>">Read More</a>
        <% } else {  %>
            <p class="readMore"><%=(post.body).slice(0,99).concat(" ... ")%></p><a class="readMore" href="/posts/<%=post.title%>">ReadMore</a>
    <%  } %>
    <% })%>
</div>



<%- include("partials/footer") %>